
body {
    /*font-family: "Noto Sans JP", "Yu Gothic Medium";*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: #f1f1f1;*/
    color: #1f1f1f;
}

#wrapper {
    flex: 1;
}

ul li {
    list-style-type: square;
    /*background: #f0f0f0;*/
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 10px;
}
